@using FirstMVC_UI.Models.Model
@model FirstMVC_UI.Models.Model.RegisterModel
@{

}

<h1>用户信息注册</h1>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.Inviter.Name)

    <label>用户名:</label><br />
    <input type="text" name="UserName" /><br />
    @Html.ValidationMessageFor(m => m.UserName)<br />

    <label>密码:</label><br />
    @Html.PasswordFor(m => m.Password)<br />
    <div>
        <label>性别:</label>
        <label>@Html.RadioButtonFor(m => m.IsMale, true)男</label>
        <label>@Html.RadioButtonFor(m => m.IsMale, false)女</label>
    </div>

    <div>
        <label>地址</label>
        @Html.EnumDropDownListFor(m => m.InCitys)
    </div>

    <div>
        <label>介绍:</label>@Html.TextAreaFor(m => m.SelfIntroduction)
    </div>
    <div>
        <label>验证码</label>
        @Html.TextBoxFor(m => m.Captcha, new { style = "width:80px;" }) <img src="/Captcha/Get" />
        @Html.ValidationMessageFor(m => m.Captcha)
    </div>

    <button type="submit">登陆</button>

}
@*Reminder页面*@
@Html.Action("Reminder")
<hr />
<h4>Id=@ViewBag.Id</h4>
<h4>UserName=@ViewBag.UserName</h4>
<hr />
@*直接调用Remainder*@
@Html.Partial("Reminder", 
    new ViewDataDictionary { { "id", 1 }, { "Name", "看" } })
