@using FirstMVC_UI.Models.MainModel
@model FirstMVC_UI.Models.MainModel.AboutModel
@{

}
<h1>@Model.Greet</h1>
@using (Html.BeginForm())
{
    <label>用户名:</label><br />
    <input type="text" name="UserName" /><br />
    @Html.ValidationMessageFor(m => m.UserName)<br />

    <label>密码:</label><br />
    @Html.PasswordFor(m => m.Password)<br />
    <div>
        <label>验证码</label>
        @Html.TextBoxFor(m => m.Captcha)<img src="/Captcha/Get" />
    </div>
    <div>
        <label>@Html.CheckBoxFor(m => m.RememberMe)记住我</label>
    </div>
    <button type="button">登陆</button>
}
<script>
    function refreshCaptcha() {
        alert("暂时无用");
    }
</script>
@Html.Action("Reminder","Register",new {id=33 })